# Node environment (optional, defaults to "development")
NODE_ENV=development

# Log level (optional, defaults to "info")
LOG_LEVEL=

# Helius API credentials
HELIUS_API_KEY=
HELIUS_RPC_URL=
HELIUS_ENHANCED_GEYSER_WS_URL=

# Wallet configuration
WALLET_ADDRESS=
WALLET_PRIVATE_KEY=

# Upstash Redis credentials
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
